<<<<<<< HEAD:src/views/partials/product.ejs
<article class="detalle-producto">
  <div class="flex-prod">
    <a href="/products/<%= prod.id %>">
      <div class="img-pd">
        <img src="img/product-images/<%= prod.image %>" width="100%" />
      </div>

      <div class="texto-pd">
        <p><%= prod.name %></p>
        <p>$ <%= prod.price %></p>
        <p><%= prod.description %></p>
        </a>
        
      </div>
    
  </div>
</article>
=======
<article class="detalle-producto">
  <div class="flex-prod">
    <a href="/products/<%= prod.id %>">
      <div class="img-pd">
        <img src="images/product-images/<%= prod.image %>" width="100%" />
      </div>

      <div class="texto-pd">
        <p><%= prod.name %></p>
        <p>$ <%= prod.price %></p>
        <p><%= prod.description %></p>
        </a>
        
      </div>
    
  </div>
</article>
>>>>>>> 7d49cf4a30e85bb93b6b712574f05b4ba5f9d00a:views/partials/product.ejs
