<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head'); %>
  <body class="body">
    <%- include('partials/header'); %>

    <!-- Container -->
    <main id="main-content" class="padding-24">
    
      <div >
        <div >
          <h2>Hola, <%= user.fullName %></h2>
        </div>
        <div class="flex padding-48 justify-between ">

          <div class="tx-medicine"> 
            <div class="avatar">
            <img src="/images/avatars/<%= user.avatar %> " width="50%" />
            <a href="/user/<%= user.id %>/edit"><i class="far fa-edit"></i></a>
            </div>
            <div class="flex">
            <p> Email: <%= user.email %> </p>
            <a href="/user/<%= user.id %>/edit"><i class="far fa-edit"></i></a>
            </div>
            <div class="flex">
            <p> Fecha de cumpleaños: <%= user.birthdate %> </p>
            <a href="/user/<%= user.id %>/edit"><i class="far fa-edit"></i></a>
            </div>
          
            <div class="margin-top-16 ">
              <a href="/user/logout">Logout</a>
            </div>
          </div>

          <div class="w-100 tx-medicine">
            
            <div >
              <a href="/user/<%= user.id %>/cart"><button class="boton-filo w-100 ">Mi carrito</button></a>
            </div>
             <div >
              <a href="#"><button class="boton-filo w-100 ">Historial de compras</button></a>
            </div>
             <div >
              <a href="#"><button class="boton-filo w-100 ">Métodos de pago</button></a>
            </div>
            <% if (locals.userLogged && userLogged.admin) { %>
            <div >
              <a href="/products/create"><button class="boton-filo w-100 ">Crear producto</button></a>
            </div>
            <% } %>
          </div>    

          
          
          
        </div>
    </div>
    

    </main>
    <!-- //Container -->

    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
