<<<<<<< HEAD:src/views/index.ejs
<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("./partials/header.ejs") %>

    <main id="main-content">
      <section class="margin-top">
        <div class="selec-flex">
          <div class="selec-wrapper">
            <a href="/products">
              <img
                class="secciones"
                src="/img/productos.png"
                alt="Descubre los productos Hampi Yura"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/fitoterapia">
              <img
                class="secciones"
                src="/img/fito.png"
                alt="Fitoterapia"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/infoplantas">
              <img
                class="secciones"
                src="/img/infoplantas.png"
                alt="Descubre las propiedades de las plantas que usamos"
                width="100%"
              />
            </a>
          </div>
        </div>
      </section>

      <section class="frases-home">
        <p>Anatomía de nuestrxs cuerpxs</p>
        <p>Alternativas para la salud</p>
      </section>

      <section>
        <div class="valores-flex">
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fab fa-pagelines"></i>
              <p>Tinturas madre</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-air-freshener"></i>
              <p>Cosmética natural y vegana</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-globe-americas"></i>
              <p>Cuidado del medio ambiente</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Incluir partial de product-->

      <section>
        <h2>Productos destacados</h2>
        <div class="flex-prod">
          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/img/product-images/crema-humectante-dia.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 1</p>
                <p>$12.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/img/product-images/shampoo-seco.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 2</p>
                <p>$9.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/img/product-images/shampoo-rulos.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 3</p>
                <p>$17.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/img/product-images/pasta-dental.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 4</p>
                <p>$15.99</p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section>
        <div class="flex">
          <div class="filo-wrapper">
            <!--reemplazar por padding-16-->
            <img src="/img/filosofia.png" alt="Logo Hampi Yura" width="100%" />
          </div>
          <div class="filo-wrapper">
            <!--reemplazar por padding-16-->
            <h2>Filosofía Hampi</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
              quis inventore dolorum sit officia est porro, possimus laboriosam
              pariatur explicabo numquam beatae magnam hic impedit placeat illum
              culpa incidunt mollitia?
            </p>
            <button class="boton-filo">Descubrí más sobre nosotrxs</button>
          </div>
        </div>
      </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
=======
<!DOCTYPE html>
<html lang="en">
  <!--Acá va el head-->

  <%- include ("./partials/head.ejs") %>

  <body class="body">
    <!--Acá va el header-->

    <%- include ("./partials/header.ejs") %>

    <main id="main-content">
      <section class="margin-top">
        <div class="selec-flex">
          <div class="selec-wrapper">
            <a href="/products">
              <img
                class="secciones"
                src="/images/productos.png"
                alt="Descubre los productos Hampi Yura"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/fitoterapia">
              <img
                class="secciones"
                src="/images/fito.png"
                alt="Fitoterapia"
                width="100%"
              />
            </a>
          </div>
          <div class="selec-wrapper">
            <a href="/infoplantas">
              <img
                class="secciones"
                src="/images/infoplantas.png"
                alt="Descubre las propiedades de las plantas que usamos"
                width="100%"
              />
            </a>
          </div>
        </div>
      </section>

      <section class="frases-home">
        <p>Anatomía de nuestrxs cuerpxs</p>
        <p>Alternativas para la salud</p>
      </section>

      <section>
        <div class="valores-flex">
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fab fa-pagelines"></i>
              <p>Tinturas madre</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-air-freshener"></i>
              <p>Cosmética natural y vegana</p>
            </div>
          </div>
          <div class="text-center selec-wrapper-30">
            <div class="valores">
              <i class="fas fa-globe-americas"></i>
              <p>Cuidado del medio ambiente</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Incluir partial de product-->

      <section>
        <h2>Productos destacados</h2>
        <div class="flex-prod">
          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/images/product-images/crema-humectante-dia.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 1</p>
                <p>$12.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/images/product-images/shampoo-seco.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 2</p>
                <p>$9.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/images/product-images/shampoo-rulos.jpg"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 3</p>
                <p>$17.99</p>
              </div>
            </article>
          </div>

          <div class="padding-16 selec-wrapper-50 selec-wrapper-25">
            <article class="box-shadow">
              <img
                src="/images/product-images/pasta-dental.png"
                class="border-top-8 img-dest"
              />
              <div class="padding-16">
                <p>Producto 4</p>
                <p>$15.99</p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <section>
        <div class="flex">
          <div class="filo-wrapper">
            <!--reemplazar por padding-16-->
            <img
              src="/images/filosofia.png"
              alt="Logo Hampi Yura"
              width="100%"
            />
          </div>
          <div class="filo-wrapper">
            <!--reemplazar por padding-16-->
            <h2>Filosofía Hampi</h2>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
              quis inventore dolorum sit officia est porro, possimus laboriosam
              pariatur explicabo numquam beatae magnam hic impedit placeat illum
              culpa incidunt mollitia?
            </p>
            <a href="../filosofia">
              <button class="boton-filo">Descubrí más sobre nosotrxs</button>
            </a>
          </div>
        </div>
      </section>
    </main>

    <!--Acá va el footer-->
    <%- include ("./partials/footer.ejs") %>
  </body>
</html>
>>>>>>> 7d49cf4a30e85bb93b6b712574f05b4ba5f9d00a:views/index.ejs
