<!DOCTYPE html>
<html lang="en">
  <!--Ac치 va el head-->
  <%- include ("partials/head.ejs") %>

  <body class="body">
    <!--Ac치 va el header-->
    <%- include ("partials/header.ejs") %>
    <main id="main-content">
      <section class="padding-24">
        <div>
          <form
            class="register-form"
            action="/products/<%= product.id %>?_method=PUT"
            method="POST"
            enctype="multipart/form-data"
          >
            <div>
              <h2 class="tx-blanco">
                Editar producto: <i><%=product.name %></i>
              </h2>
            </div>

            <div class="form-input">
              <label class="main-label" for="name"></label>
              <input
                class="border-5"
                type="text"
                name="name"
                placeholder="Nombre del producto"
                value="<%=product.name%>"
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="price"></label>
              <input
                class="border-5"
                type="text"
                name="price"
                placeholder="Precio del producto: $12.99"
                value="<%=product.price%>"
                required
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="description"></label>
              <input
                class="border-5"
                type="text"
                name="description"
                placeholder="Descripcion"
                value="<%=product.description%>"
                required
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="image"></label>
              <img src="/images/product-images/<%= product.image %>" alt="" />
              <input
                class="border-5"
                type="file"
                name="image"
                placeholder="Foto del producto"
              />
            </div>
            <div class="form-input">
              <label class="main-label" for="cat"></label>
              <select
                class="border-5"
                type="text"
                name="cat"
                placeholder="Categoria"
                required
              >
                <option>cat1</option>
                <option>cat2</option>
                <option>cat3</option>
              </select>
            </div>
            <!-- <div class="form-input">
                <label class="main-label" for="name"></label>
                <select class="border-5" type="text" name="name" placeholder="Tama침os" required >
                  <option>tam1</option>
                  <option>tam2</option>
                </select>
              </div> -->
            <div class="register-buttons">
              <button class="boton-form" type="reset">Borrar</button>
              <button class="boton-form" type="submit">Cargar datos</button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!--Ac치 va el footer-->
    <%- include ("partials/footer.ejs") %>
  </body>
</html>
