<!DOCTYPE html>
<html lang="en">
<!--Acá va el head-->
<%- include ("partials/head.ejs") %>

    <body class="body">
        <!--Acá va el header-->
        <%- include ("partials/header.ejs") %>

            <main id="main-content">
                <!--Acá va el partial de producto-->
                <article class="detalle-producto">
                    <div class="flex-prod">
                        <div class="img-pd">
                            <img src="/img/<%= product.image %>" width="100%" />
                        </div>

                        <div class="texto-pd">
                            <p>
                                <%= product.name %>
                            </p>
                            <p>$ <%= product.price %>
                            </p>
                            <p>
                                <%= product.description %>
                            </p>


                        </div>
                    </div>
                </article>

                <button class="boton-cantidad-product">- 1 +</button>
                <button class="boton-añadir"><a href= "#" >Añadir al carrito</a></button>
                <button class="boton-añadir"><a href="/products/<%= product.id %>/edit">Editar</a></button>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST" >
                <button type="submit" class="boton-añadir">ELIMINAR</button></form>



                <section>
                    <h3 class="titulo-otros">Podés combinarlo con...</h3>

                    <div class="contenedor-scroll">
                        <div class="card">
                            <article>
                                <img src="/img/prod6.jpg" width="100%" />

                                <div class="contenedor">
                                    <p class="prod">Producto 1</p>
                                    <p class="price">$12.99</p>
                                </div>
                                <button class="boton-añadir-op">Añadir al carrito</button>
                                <button class="boton-cantidad-op">- 1 +</button>

                            </article>
                        </div>

                        <div class="card">
                            <article>
                                <img src="/img/prod7.jpg" width="100%" />
                                <div class="contenedor">
                                    <p class="prod">Producto 1</p>
                                    <p class="price">$12.99</p>
                                </div>
                                <button class="boton-añadir-op">Añadir al carrito</button>
                                <button class="boton-cantidad-op">- 1 +</button>
                            </article>
                        </div>

                        <div class="card">
                            <article>
                                <img src="/img/prod8.jpg" width="100%" />
                                <div class="contenedor">
                                    <p class="prod">Producto 1</p>
                                    <p class="price">$12.99</p>
                                </div>
                                <button class="boton-añadir-op">Añadir al carrito</button>
                                <button class="boton-cantidad-op">- 1 +</button>
                            </article>
                        </div>

                        <div class="card">
                            <article>
                                <img src="/img/prod9.jpg" width="100%" />
                                <div class="contenedor">
                                    <p class="prod">Producto 1</p>
                                    <p class="price">$12.99</p>
                                </div>
                                <button class="boton-añadir-op">Añadir al carrito</button>
                                <button class="boton-cantidad-op">- 1 +</button>
                            </article>

                        </div>
                    </div>
                    </div>
                </section>
            </main>
            <!--Acá va el footer-->
            <%- include ("partials/footer.ejs") %>
    </body>

</html>