<article class="detalle-producto">
  <div class="flex-prod">
    <a href="/products/<%= prod.id %>">
      <div class="img-pd">
        <img src="/img/<%= prod.image %>" width="100%" />
      </div>

      <div class="texto-pd">
        <p><%= prod.name %></p>
        <p>$ <%= prod.price %></p>
        <p><%= prod.description %></p>
        </a>
        
      </div>
    
  </div>
</article>
